
.banner-plp {
  background-image: url("../../assets/media/img/jonathan-pielmayer-Gn64mz9hTqE-unsplash.jpg");
  height: 300px;
  background-size: cover;
  background-position: center;
}

.plp-listing {
  .card {
    &:hover {
      background-color: #f3f3f3;
      transition: background-color 0.2s;
    }

  &-img-top {
    height: 350px;
    object-fit: cover;
  }

  &-title {
    color: $primary-green-dark;
  }
}
}