input[type="radio"]:checked {
  background-color: $primary-green-light;
  border-color: $primary-green-light;
}

.form-check-input {

  &:checked {
    background-color: $primary-green-light;
    border-color: $primary-green-light;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(102, 220, 111, 0.25);
  }
}