$bootstrap-icons-font-dir: "../fonts" !default;

.form-control, .form-select {
  background-color: $light-green-bg !important;
  border-radius: unset !important;
  border: none !important;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(59 255 162 / 25%) !important;
  }
}